/* GENERIC */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header > .row * {
  text-align: center;
  margin: 40px 0px;
}

body {
  margin: 0px 10%;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.name,
.job {
  display: block;
  color: white;
}

a {
  text-decoration: none;
  display: block;
  color: #17ccf2;
}

h1 {
  color: #e53170;
}

/* UTILITIES */

.debug {
  border: 2px dashed black;
}

h1,
.name {
  font-weight: 900;
}
.big-container {
  padding: 15px;
}

.row {
  margin: -15px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* INIZIO CSS CARD */
.card {
  height: 120px;
  width: calc(100% / 3 - 30px);

  background-color: #0f0e17;
  margin: 15px;
  float: left;
  box-shadow: 1px 2px 4px 2px #0f0e176b;
}

.profile {
  height: 100%;
  float: left;
}

.form * {
  margin-top: 15px;
  padding-left: 145px;
}

.profile > img {
  max-height: 100%;
}
/* FINECSS CARD */

/* PROVA ANIMATION HOVER. */

.card:hover {
  cursor: pointer;
  border: 1px solid #e7e7e744;
  box-shadow: 2px 2px 8px 4px #0f0e176b;
  transform: scale(1.025);
  filter: opacity(0.8);
  ::before ;
}
